.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@import '../src/component/button/Button';
@import '../src/component/cart-dropdown/Cart-dropdown';
@import '../src/component/cart-icon/Cart-icon';
@import '../src/component/cart-item/cart-item';
@import '../src/component/category-preview/category-preview';
@import '../src/component/checkout-item/checkout-item';
@import '../src/component/directory-item/directory-item';
@import '../src/component/directory/directory';
@import '../src/component/form-input/Form-input';
@import '../src/component/products-card/product-card';
@import '../src/component/SignIn-Form/signin-form';
@import '../src/component/signup-form/signup-form';
@import '../src/routes/authentication/auth';
@import '../src/routes/category/category';
@import '../src/routes/checkout/checkout';
@import '../src/routes/home/Home';
@import '../src/routes/navigation/Navigation';
@import '../src/routes/shop/Shop';



